#list {
  width: 100%;
  margin-top: 20px;
  background-color: #EDEDFF;
}

#cover-display {
  position: fixed;
  right: 100px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 350px;
}

.img-prev {
  width: 100px;
  border: 1px solid var(--borders);
}

.title {
  min-width: 300px;
}

#mov-h {
  background-color: var(--accentSub);
  color: var(--lightFont);
  font-size: 20px;
}

td {
  height: 150px;
}

table, th, td {
  border: 1px solid var(--borders);
  padding: 10px;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.cover {
  border: none;
}

.title, .release-date {
  text-align: center;
}

.overview {
  width: 50%;
}