<div id="comp">
  <!-- Display list if movies are returned -->
  <div id="list">
    <table class="movie">
      <tr id="mov-h">
        <th class="cover">Cover</th>
        <th class="title">Title</th>
        <th class="title">Release Date</th>
        <th class="overview">Overview</th>
      </tr>
      <tr *ngFor="let movie of movies">
        <td class="cover">
          <img (mouseenter)="setCoverPath(movie.poster_path)" (mouseleave)="setCoverPath(null)" class="img-prev" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
        </td>
        <td class="title">{{movie.title}}</td>
        <td class="release-date">{{movie.release_date}}</td>
        <td class="overview">{{movie.overview}}</td>
      </tr>
    </table>
  </div>

  <div id="cover-display">
    <app-cover-display [imgPath]="coverPath"></app-cover-display>
  </div>
</div>
