<div class="container-div">
    <h1>Movie Search</h1>
    <div id="search-bar">
        <div id="input-div">
            <input id="search-input" spellcheck="false" #searchInput (keyup)="searchTerm=searchInput.value" (keyup.enter)="search(searchTerm);searchInput.value=''">
        </div>
        <div id="paginator">
            <button [ngStyle]="{'cursor': currentPage > 1 ? 'pointer' : 'auto' }" (click)="goToPage(currentPage-1)">&lt;</button>
            <span id="c-page">{{currentPage}} - {{totalPages}}</span>
            <button [ngStyle]="{'cursor': currentPage < totalPages ? 'pointer' : 'auto' }" (click)="goToPage(currentPage+1)">&gt;</button>
        </div>
    </div>

    <!-- If search hasn't come back yet -->
    <div class="notif-load" *ngIf="loading">
        <span>Loading...</span>
    </div>

    <!-- If search hasn't been made yet -->
    <div class="notif-sub" *ngIf="!searched && !loading && !errorMessage">
        <span>Type in the search bar to search for a movie.</span>
    </div>

    <!-- If search gives error -->
    <div class="notif" *ngIf="errorMessage">
        <span>Error: {{errorMessage}}</span>
    </div>

    <!-- If no movies returned, show this message -->
    <div class="notif" *ngIf="!movies.length && searched && !errorMessage">
        <span>No movies found.</span>
    </div>

    <app-movie-list *ngIf="searched && !errorMessage && movies.length" [movies]="movies"></app-movie-list>
</div>